.bg-lightBlue{
  background-color: lightblue;
}

.newTempClass{
  position: absolute;
  height: 100%;
  width: 25%;
  z-index: 99999;
  background-color: ghostwhite transparent 10%;
}

.bg-royalBlue{
  background-color: royalblue;
}