html {
	height: 100vh;
	width: 100vw;
}

body {
	height: 100%;
	width: 100%;	
}
.container {
	display: grid;
	height: 100%;
	width: 100%;	
}

.sideBar {
	background-color: aqua;
	height: 100%;
	width: 100%;	
}

.topBar {
	background-color: brown;
	height: 100%;
	width: 100%;
}

.mainWindow {
	background-color: darkolivegreen;
	height: 100%;
	width: 100%;
}